// Define variables for commonly used colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-color: #f8f9fa;
$dark-color: #343a40;

// Style the entire multistep form container
.form-page{
  margin-top: -5.5rem;
  background-image: url('./pexels-andrea-piacquadio-3762940.jpg');
  align-items: center;
  justify-content: center;
}
.multistep-form {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  padding: 2rem;
  background-image: url('./pexels-andrea-piacquadio-3762940.jpg');
  @media screen and (max-width:1000px) {
    padding: 0;
    background-image: url('./pexels-andrea-piacquadio-3762940.jpg');
}


  // Style each form step
  .form-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 1rem;
      color: brown;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      color: $dark-color;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"]
    {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1.5rem;
      height: 2rem;
      border: none;
      background-color: #6c757d1e;
      border-radius: 0.25rem;
      width: 18rem;
      border-radius: 10px;
      @media screen and (max-width:1000px) {
        height: 1.5rem;
        width: 18rem;
    }
    }

    // input[type="file"] {
    //   margin-bottom: 1rem;
    // }

    // input[type="text"] {
    //   margin-bottom: 1.5rem;
    //   width: 20rem;
    //   border-radius: 10px;
    // }

    .radio-group,
    .checkbox-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      label {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        color: $dark-color;

        input[type="radio"],
        input[type="checkbox"] {
          margin-right: 0.5rem;
          height: 1.5rem;
        }
      }
    }

    button {
      margin-top: .5rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 8px;
      font-size: 1rem;
      color: $light-color;
      background-color: brown;
      cursor: pointer;
      width: 9rem;
      margin-bottom: 3.5rem;
      

      &:hover {
        background-color: rgb(103, 10, 10);
        color:gold;
        scale: 1.1;
      }
    }
  }
}

.flex-form{
  display:flex;
  // align-items: center;
  justify-content: center;
  @media screen and (max-width:1000px) {
    flex-direction: column;
}
}
.button-flex{
  display: flex;
  column-gap: 4rem;
  margin-bottom: 2rem;
}

// input[type="date"]::before {
//   content: "Date";

// }
select{
  height: 2.5rem !important;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: none !important;
  background-color: #6c757d1e;
  border-radius: 0.25rem;
  width: 20rem;
  border-radius: 10px;
}


[type="file"]{
display: none;
}
.upload{
  background-color: brown;
  color: white;
  font-size: 1.2rem;
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  svg{
    font-size: 4rem;
    color: white;
  }
}
h4{
  color: white;
  font-size: .9rem;
  text-align: center;
}
.upload-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border: 1px dotted white;
  border-radius: 50%;
}