.sidebar{
    background-color: #800020;
    width: 180px !important;
    min-height: 100vh;
    border-right: .5px solid lightgray;
    position: fixed;
    z-index: 5;
    left: 0;
    margin-top: -80px;
    // background-color: var(--secondary-color);
    color:white;
    .Top{
        height: 50px;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        p{
            font-size: 15px;
            font-weight: bold;
            padding-left: 1px;
        }
        .logo{
            width: 4rem;
        }
    }
    hr{
        height: 0;
        border: .5px solid lightgray;
    }
    .center{
        padding-left: 1px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: flex;
                align-items: center;
                padding: 5px;
                height: 50px;
                cursor: pointer;
                color: gold ;
                font-weight: 600;
                text-decoration: none;
                &:hover{
                    background-color: white;
                    color: #800020 ;
                }
                &:active{
                    background-color: white;
                    color: #800020 ;
                }
                a{
                    display: flex;
                    align-items: center;
                    padding: 5px ;
                    width: 100vw;
                    text-decoration: none;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }
}

.bottom{
    padding-left: 1px;
    // background-color: var(--primary-color) !important; 
    display: flex;
    align-items: flex-start;
    cursor: pointer;

    li{
        display: flex;
        align-items: center;
        padding: 5px;
        height: 50px;
        cursor: pointer;
        color: white;
        &:hover{
            // background-color: var(--primary-color) !important;
            color: white;
        }
}
}
h5{
    color: white;
    font-size: 2rem;
    font-weight: 800;

}