// Define variables for commonly used colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$light-color: #f8f9fa;
$dark-color: #343a40;

// Style the entire multistep form container
.form-page{
  display: flex;
  // position: fixed;
  // margin-top: -5.5rem;
  align-items: center;
  justify-content: flex-start;
  // height: 100vh;
  width: 100%;
  background-image: url('./form1.jpg');
  @media screen and (max-width:1000px) {
    position:relative;
    padding-top: 2rem;
  
  }
}

.multistep-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  @media screen and (max-width:1000px) {
    padding: 0;
    padding-top: 2rem;
}

  // Style each form step
  .form-step {
    display: flex;
    flex-direction: column;
    align-items: center;
 

    h2 {
      margin-bottom: 1rem;
      color: $primary-color;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
      color: $dark-color;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"],
    select {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 1rem;
      border: 1px solid $secondary-color;
      border-radius: 0.25rem;
    }

    // input[type="file"] {
    //   margin-bottom: 1rem;
    // }

    input[type="text"],
    input[type="radio"],
    input[type="checkbox"],
    input[type='date'],
    input[type="email"]
    {
      padding: 0.5rem;
      margin-bottom: 1.5rem;
      height: 1.5rem;
      border: none;
      border-radius: 0.25rem;
      width: 18rem;
      border-radius: 10px;
      background-color: #6c757d1e;
      @media screen and (max-width:1000px) {
        height: 1.5rem;
    }
    
      &:focus {
        border: .5px solid #800020;
        outline: none;
      }
    }

    .radio-group,
    .checkbox-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      label {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        color: $dark-color;

        input[type="radio"],
        input[type="checkbox"] {
          margin-right: 0.5rem;
        }
      }
    }

    button {
      margin-top: .5rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 15px;
      font-size: 1rem;
      color: $light-color;
      background-color: #800020;
      cursor: pointer;
      width: 9rem;
      margin-bottom: 3.5rem;
      

      &:hover {
        background-color: gold;
        color: #800020;
      }
    }
  }
}

.flex-form{
  display:flex;
  // align-items: center;
  justify-content: center;
  @media screen and (max-width:1000px) {
    flex-direction: column;
}
}
.button-flex{
  display: flex;
  column-gap: 4rem;
}
.flex-one, .flex-two{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}

h3{
  font-size: 1.5rem;
  color:#800020 ;

}
select{
  height: 3rem !important;
}
.picture{
  width: 30rem;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #800020;
  background-image: url('./form2.jpg') !important;
  @media screen and (max-width:1000px) {
    display: none;
  }
  .form-img{
    width: 100%;
    margin-top: -3rem;
    height: 127vh;
    filter: grayscale(0);
    object-fit: cover;
    object-position: center;

  }
}

.flexer{
  display: flex;
  @media screen and (max-width:1000px){
    flex-direction:column;
  }
}