.app__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.app{
  display: flex;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  flex-direction: column;
  padding: 0rem 0;
}

@media screen and (max-width: 450px) {
  .app__wrapper {
    padding: 0rem 0rem 0rem;
  }
}