.app__container {
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;

}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  flex-direction: column;
  padding: 0rem 0;
}

/* @media screen and (max-width: 450px) {
  .app__wrapper {
    padding: 0rem 0rem 0rem;
  }
} */

.css-rtrcn9-MuiTablePagination-root {
  overflow: auto;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  float: left;
  width: 100%;
  display: flex;
}

.css-1w5m2wr-MuiDataGrid-virtualScroller {
  overflow: auto;
  position: relative;
  height: auto !important;
}